body {
    background-color: #DBE2EF;
    margin: 0;
}

.banner {
    background-color: #DBE2EF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
}

.banner img {
    max-height: 50px;
    margin-right: 20px;
}

.banner p {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    align-self: center;
    margin: 0;
}

.inside {
    background-color: #F9F7F7;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    line-height: 1.4;
    margin: 0 auto;
    padding: 18px;
}

.titles {
    background-color: #F9F7F7;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 2vh;
    line-height: 1.4;
    margin: 0 auto;
    padding: 18px;
}

.collapsible {
    background-color: #3F72AF;
    color: white;
    cursor: pointer;
    width: 557px;
    padding: 6px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #112D4E;
}

.content {
    background-color: #DBE2EF;
    transition: max-height 1s ease-out;
    max-height: 0;
    padding: 0 18px;
    overflow: auto;
}

.button {
    cursor: pointer;
}

.download {
    text-align: center;
    padding: 10px;
}

.info-banner {
    background-color: #DBE2EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 8px;
}

.info-a {
    margin-right: auto;
}

.info-b {
    margin-left: auto; 
}

